.main {
  //todo esto es fijo
  &__header {
    height: 35vh;
    width: 100%;
    background-image: url(../img/world.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    transition: all 1s;
    .imgBox {
      display: flex;
      justify-content: center;
      align-items: center;
      .frame {
        position: absolute;
        inset: 10px 10px -30px 30px;
        height: 150px;
        width: 150px;
        border: 1px solid rgba(89, 89, 89, 0.563);
        border-radius: 10px;
        transition: all 500ms linear;
        background-color: rgb(0, 169, 160);
      }

      .text {
        position: absolute;
        inset: 10px 30px 0px 15vw;
        font-weight: normal;
        font-size: 2.5rem;
        transition: all 500ms linear;
        color: #fff;
      }
    }
  }
  //aca empieza lo generado por js
  #app {
    height: 100vh;
    transition: all 500ms linear;

    .title {
      text-align: center;
    }

    .flex {
      display: flex;
      width: 80%;
      margin: auto;
      position: relative;

      .img {
        height: 75vh;
        position: absolute;
        left: 60%;
        z-index: 0;
        opacity: 0;
        transform: translate(100px);
      }

      .unorderList {
        list-style: none;
        line-height: 5rem;
        font-size: 1.3rem;
        z-index: 1;
        opacity: 0;
        transform: translate(-100px);

        .itemList {
          background-color: aqua;
          margin: 1rem;
          text-align: center;
          border-radius: 10px 0 0 10px;
        }
      }
      .visible {
        opacity: 1;
        transform: translate(0);
        transition: all 1s ease-in-out;
      }
    }

    .skillGrid {
      width: 85%;
      margin: auto;
      display: grid;
      gap: 7rem;
      padding-top: 7rem;
      grid-template-areas:
        "html css scss"
        "js git github";
        opacity: 0;

      .skillBox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        &__img {
          img {
            height: 25vh;
          }
        }
        &__desc {
          width: 15%;
          padding-left: 10px;
          p {
            font-size: 1.3rem;
            font-weight: 700;
            width: 15%;
          }
        }
      }
      
    }
    .visible {
        opacity: 1;
        transform: translate(0);
        transition: all 1s ease-in-out;
      }
  }
  .portfolio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 95%;
    margin: auto;
    padding-top: 7rem;
    position: relative;
    &_image {
      position: absolute;
      width: 60%;
      z-index: 0;
      transition: 1s all ease;
      img {
        width: 100%;
        transition: 1s all ease;
      }
    }
    &_texto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      gap: 3rem;
      z-index: 1;
      position: absolute;
      right: 0;

      a {
        font-size: 62px;
        letter-spacing: 1.5rem;
      }
    }
  }
}
