@font-face {
  font-family: 'myFont';
  src: url('../font/Minimalust\ Thin.ttf ');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  .visible{
    opacity: 1;
    transform: translate(0);
    transition: all 1s ease-in-out;
  
  }
}
a{
  text-decoration: none;
  color: black;
}
body{
  font-family: 'Montserrat', sans-serif;
// font-family: 'Neonderthaw', cursive;
// font-family: 'Oswald', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Playfair Display', serif;
// font-family: 'myFont', sans-serif;
}




::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 100px;
  height: 100px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
